<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'fav.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=4">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=111541309', 'ym');
    
        ym(111541309, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/111541309" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body class="d-flex flex-column vh-100">
    {% include 'includes/header.html' %}

    <div class="call__button">
        <a href="tel:+79180069131">
            <picture>
                <img src="{% static 'img/call.svg' %}" alt="">
            </picture>
        </a>
    </div>

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}
    {% include 'includes/modals.html' %}
    {% include 'includes/scripts.html' %}
</body>

</html>