<footer class="mt-auto">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4 text-center text-lg-start">
                © {% now 'Y' %} Lagoona Resort & Spa
            </div>
            <div class="col-lg-4 text-center mt-4 mb-4 mt-lg-0 mb-lg-0">
                <a href="{% url 'content:policy' %}">Политика конфиденциальности</a>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <a href="https://losdesign.ru" target="_blank" rel="noopener noreferrer">Разработка сайта</a>
            </div>
        </div>
    </div>
</footer>

{% if not agreed_to_policy %}
    <div id="policyAlert">
        <div>
            Пользуясь данным сайтом, вы соглашаетесь с <a href="{% url 'content:policy' %}">политикой конфиденциальности</a>
        </div>
        <button type="button" onclick="agreeToPolicy()">Хорошо</button>
    </div>
    <script>
        function agreeToPolicy() {
            fetch('{% url "content:agreed_to_policy" %}', { method: 'POST', headers: {'X-CSRFToken': '{{ csrf_token }}'} })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('policyAlert').style.display = 'none';
                });
        }
    </script>
{% endif %}
