{% extends 'includes/base.html' %}

{% load static %}
{% load my_filters %}

{% block title %}
    500 — Ошибка сервера
{% endblock %}

{% block content %}
    <main>
        <div class="bg__not__found__page"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center bg__not__found__text">
                    <h1>500</h1>
                    <p class="fs-2">На сервере возникла ошибка.</p>
                    <p class="fs-6">Мы ее уже решаем. Пожалуйста, зайдите на сайт позже.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}