{% extends 'includes/base.html' %}

{% load static %}
{% load my_filters %}

{% block title %}
    Политика конфиденциальности — Lagoona Resort & Spa
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid inner__header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul>
                            <li><a href="{% url 'content:home' %}">Главная</a></li>
                            <li>»</li>
                            <li>Политика конфиденциальности</li>
                        </ul>
                        <h1>Политика конфиденциальности</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col">
                    {{ policy | safe }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}